@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blinking {
  animation: blink 1s step-start 0s infinite;
}
.qr-code-flow {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 3rem;
}
.close-qr-code-flow {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 4rem;
}
