.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* src/App.css */
.sliders {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.sliders > div {
  margin-bottom: 10px;
}

.sliders label {
  margin-right: 10px;
}

.sliders input[type="range"] {
  margin: 0 10px;
}

.td {
  border: "1px solid rgba(224, 224, 224, 1)";
  padding: 8px 14px;
}

.qr-code-flow {
  position: absolute;
  right: 2rem;
}

div#chart canvas {
  width: 100% !important;
  height: 95% !important;
}

div#single canvas {
  width: 100% !important;
  height: 90% !important;
}

.close-qr-code-flow {
  position: absolute;
  right: 5rem;
}

.zoom-fade-container {
  width: 100%;
}

.zoom-fade-enter {
  opacity: 0;
  transform: scale(0.9);
}

.zoom-fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}

.zoom-fade-exit {
  opacity: 1;
  transform: scale(1);
}

.zoom-fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
  }
}

.qr-code-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 20px;
  /* padding-top: 15px; */
}

.qr-code-item {
  padding: 10px;
}

/* Responsive styles */

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .qr-code-container {
    flex-direction: column;
    align-items: center;
  }

  .qr-code-item {
    margin-bottom: 10px;
  }
}

/* Medium devices (tablets, 600px to 900px) */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .qr-code-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .qr-code-item {
    width: 45%;
  }
}

/* Large devices (laptops/desktops, 900px and up) */
@media only screen and (min-width: 900px) {
  .qr-code-container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .qr-code-item {
    width: 30%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .qr-code-container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .qr-code-item {
    width: 20%;
  }

}

@media (min-width: 1800px) {
  .qr-code-container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .qr-code-item {
    width: 20%;
  }

}
@media (max-width: 2000px) {
  .qr-code-container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .qr-code-item {
    width: 20%;
  }
}

@media only screen and (min-width: 1950px) {
  .qr-code-container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .qr-code-item {
    width: 20%;
  }

}
/* Additional styles */
.custom-tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.btn-orange {
  background-color: rgb(121, 123, 124);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.btn-orange:hover {
  background-color: rgb(43, 0, 255);
}
#single {
  height: 40vh !important;
}