/* Styles for the entire app */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Keyframes for animation */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Button styles */
.btn-orange {
  background-color: rgb(4, 142, 254);
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btn-orange:hover {
  background-color: rgb(43, 0, 255);
}

/* Tooltip styles */
.custom-tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

/* QR code container styles */
/* .qr-code-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.qr-code-item {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

#chart {
  position: relative;
}

/* Annotation tooltip styles */
.annotation-tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 900px) {
  .qr-code-container {
    display: flex;
  justify-content: space-around;
  margin-top: 10px;
  }
  .qr-code-item {
    display: flex;
  flex-direction: column;
  align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .qr-code-container {
    flex-direction: column;
    align-items: center;
  }
  .qr-code-item {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .qr-code-container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around !important;
  }
  .qr-code-item {
    width: 20%;
  }
}
